.jumbotron{
    background: black;
    color: wheat;
    padding-bottom: 1px;
    padding-top: 1%;
}

.articulos-fondo{
    background-color:wheat;
    color: blue;
    width: 50%;
    border-left: red;
    width: 25px;
    height: 150px;
}
footer {
    padding: 5px 10px 0px 10px;
    background-color: wheat;
    margin-bottom: 0px;
    margin-top: 30px;
}
.footer-icon{
    color: blue;
    padding: 1px 3px;
}

.tab-content{
    padding-top: 10px;
}

.bg-color2{
    background-color: blueviolet;
}

.card-hotel{
    flex: 1 200px; 
    margin-top: 10px;
}

.img-banner{
    padding-bottom: 30px;
    width: 100%;
    height: 500;
}

.btn-reserva{
    
    color:white;
    background-color: blue;
    border-radius: 0px;
    padding-top: 0%;
    height: 100%;
    width: 100%;
}

.btn-icon{
    
    padding-top: 8px ;
    padding-right: 8px;
}

body{
    background-color: white;
}
