.jumbotron {
  background: black;
  color: #fff708;
  margin-top: 50px;
  margin-bottom: 0px;
}
.articulos-fondo {
  background-color: wheat;
  color: blue;
  width: 50%;
  border-left: red;
  margin-top: 25px;
  margin-bottom: 150px;
}
body {
  background-color: white;
}
footer {
  padding: 5px 10px 0px 10px;
  background-color: wheat;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-icon {
  color: blue;
  padding: 1px 3px;
}
.tab-content {
  padding-top: 10px;
}
.bg-color2 {
  background-color: blueviolet;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.img-banner {
  padding-bottom: 30px;
  width: 100%;
  height: 500;
}
.btn-reserva {
  color: white;
  background-color: blue;
  border-radius: 0px;
  padding-top: 0%;
  height: 100%;
  width: 100%;
}
.btn-icon {
  padding-top: 8px;
  padding-right: 8px;
}
