$yellow: blue;
@mixin  margenes ($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}



.jumbotron{
    background: black;
    color: $yellow;
    @include margenes(50px,0px )
}

.articulos-fondo{
    background-color:wheat;
    color: blue;
    width: 50%;
    border-left: red;
    
    @include margenes(25px,150px )
}
footer {
    padding: 5px 10px 0px 10px;
    background-color: wheat;
    @include margenes(10px,0px )
}
.footer-icon{
    color: blue;
    padding: 1px 3px;
}

.tab-content{
    padding-top: 10px;
}

.bg-color2{
    background-color: blueviolet;
}

.card-hotel{
    flex: 1 200px; 
    margin-top: 10px;
}

.img-banner{
    padding-bottom: 30px;
    width: 100%;
    height: 500;
}

.btn-reserva{
    
    color:white;
    background-color: blue;
    border-radius: 0px;
    padding-top: 0%;
    height: 100%;
    width: 100%;
}

.btn-icon{
    
    padding-top: 8px ;
    padding-right: 8px;
}

body{
    background-color: white;
}
